@import url("https://fonts.googleapis.com/css?family=Hepta+Slab:400,700|Lato:400,700&display=swap");



*{
  margin:0;
  padding: 0;
  font-family: "Lato", Helvetica, Arial;
}

body{
    overflow-x: hidden;
    
}



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #03555d;
    height: 10vh;
    max-height: 10vh;

 }

.logo{ /*Logo*/
    font-size: 190%;
    text-transform: uppercase;
    display: flex;
    align-items: center;;
    font-weight: bold;
    font-family: "Hepta Slab", Helvetica, Arial;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 1%;
}

.logo:hover{
    color: #FFF;
}

.nav-list{ /*Todos os itens*/
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
}
.nav-list a{
    text-decoration: none;
    transition: 0.3s;
    
    
 }
 
 .nav-list a:hover { /*Efeito de Seleção*/
     opacity: 0.7;
     color: white;
 }


.nav-list li{ /*Opções de seleção*/
    margin-top: 0%;
}

.nav-itemzinho{
     display: flex;
}



.paginas{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.10rem;
    color: white;
    margin-right: 16px;
    margin-left: 15px;
}

.login{
    color: #03555d;
    background: #FFF;
    border-radius: 20px;
    padding: 7px 15px;
    display: flex;
    font-weight: normal;
    font-size: 0.8rem;
}

.login:hover{
    background: #1cc2d1;
    color: #FFF;
    opacity: 1;
}

/*Dropdown*/
.nav-itemzinho .descendoodrop  {
    display: none;
}

.nav-itemzinho:hover .descendoodrop {
     display: block;
     position: absolute;
     background-color: #03555d;
     margin-top: 2%;
     z-index: 1;
     border-radius: 10px;
     align-items: center;
}

.nav-itemzinho:hover .descendoodrop ul {
    display: block;
}

.nav-itemzinho:hover .descendoodrop ul li{

   text-decoration: none;
   width: 100px;
   margin-left: 15%;
   font-weight: 10px;
   
}

.nav-itemzinho:hover .descendoodrop ul li a{
    color: #FFF;
   
}

/*Mobile Menu*/
.mobile-menu{ /*Logo*/
    cursor: pointer;
    display: none;
    
}
.mobile-menu div{ /*Linhas*/
    width: 32px;
    height: 2px;
    background: #FFF;
    margin: 8px;
    transition: 0.3s;
}


/*Responsividade*/
@media (max-width:972px){
     body{
        overflow-x: hidden;
     }

    .nav-list{
        display: none;
        position: absolute;
        top: 9vh;
        right: 0;
        width: 50vw;
        height: 45vh;
        background: #03555d;
        border-radius: 2px;
        box-shadow: 12px 12px 15px 0 rgb(116, 179, 165);
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        overflow-x: hidden;
        z-index: 1;
        text-align: center;
    }
    .nav-list li{
        margin-bottom: 5%;
        margin-left: 0;
        opacity: 0;
        margin-top: 0%;
        z-index: 1;
    }

    .nav-itemzinho:hover .descendoodrop {
        display: none;

   }

    .mobile-menu{
        display: block;
        z-index: 1;
    }

   
   .paginas{
    margin: 0px;
   }

}

@media (max-width: 386px){
  .logo{
      font-size: 170%;
  }
}

.nav-list.active{
    transform:translateX(0);
    z-index: 1;
    display: flex;
    padding: 0;
}

/*Botão de Fechar*/
.mobile-menu.active .line1{
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}

/*Keyframes*/

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}



.main-login {
  width: 100vw;
  height: 100vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-login {
  width: 40vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left-login > h1 {
  color: #03555d;
}
.right-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  
}
.card-login {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 35px 45px;
  background: #03555d;
  border-radius: 15px;
  box-shadow: 0px 10px 40px #00000056;
}
.card-login {
  color: #ffffff;
  font-weight: 800;
  margin: 0;
  border: 1px solid #ffffff;
}

.textfield {
  position:relative;
  width: 25rem;
  height: 4rem;
 
    width: 100%;
  
 
 }
 
 .textfield > input {
   position:absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border: 2px solid #ffffff ;
   border-radius:1.0rem;
   font-family: inherit;
   font-size:inherit ;
   color:#eee;
   outline: none;
   padding:2.0rem ;
   background: none;
 }
 
 .textfield > input:hover{
   border-color:#0cffff ;
 }
 
 .textfield:focus{
   border-color:#18ffff ;
 }
 .textfield > label {
 position: absolute;
  left:1rem;
  top: 1.2rem;
  padding: 0 0.5rem;
  color: white;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in ;
  font-size: 200ms ease-in;
  background-color:#03555d ;
 }
 
 .form__input:focus ~ .form__label,
 .form__input:valid ~ .form__label {
   top: -0.8rem;
   font-size: 0.8rem;
   left: 0.8rem;
 }
 .fa-eye{
  position: absolute;
  top: 1.5rem;
  right: 15px;
  cursor: pointer;}

.btn-login {
  width: 50%;
  padding: 16px 0px;
  margin: 25px;
  font-size: 0.95rem;
  border: 2px solid #fafafa;
  border-radius: 25px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #03555d;
  background: #ffffff;
  cursor: pointer;
 
}
.btn-login:hover{
  background-color:#0a95a1;
  color:#fff;
  border-color: #0cffff;
  }
a {
  float: center;
  align-items: center;
  color: #03555d;
  text-decoration: none;
}
a:hover{
  color:#fff;
}
.btn-login{
  text-decoration: none;
}




@media screen and (max-width: 860px) {
  
  * {
    padding: 0;
    margin: 0;
    font-family: "Lato", Helvetica, Arial;
    
  }
  body {
    background-color: #fff;
    margin: 0px;
    overflow-x: hidden;
    font-family: "convergence" , sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
  } .main-login {
    padding: 1.5rem 1rem;
    float: center;
    width: center;
    align-items: center;
    display: block;
    flex-direction: column;
    margin: 3px;
  }
  .left-login {
    width: 80%;
    margin-left: 10%;
  }
  .right-login {
    display: flex;
    width: 90%;
    display: block;
    margin-left: 10%;
  }

  .left-login::h1 {
    text-align: center;
  }
 
  @media screen and (max-width: 600px) {
    * {
      padding: 0;
      margin: 0;
      font-family: "Lato", Helvetica, Arial;
      
    }
    body {
      
      background-color: #fff;
      margin: 0px;
      overflow-x: hidden;
      font-family: "convergence" , sans-serif;
      display: grid;
      justify-content: center;
      align-items: center;
    }

    .main-login {
     
      float: center;
      width: center;
      align-items: center;
      display: block;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
    }
    
    .right-login {
      width: center;
      display: block;
    margin-left: 10%;
    margin-top: -6em;
    width: 90%;
   
    
     
    }
    .left-login{
      margin-left: auto;
      margin-right: 60px;
      margin-top:-9em;
    }

    .left-login::h1 {
      text-align: center;
    }
  
  .textfield{
    width: 110%;
  }
  }
  @media screen and (max-width: 400px) {
    * {
      padding: 0;
      margin: 0;
      font-family: "Lato", Helvetica, Arial;
      
    }
    body {
      background-color: #fff;
      margin: 0px;
      overflow-x: hidden;
      font-family: "convergence" , sans-serif;
      display: grid;
      justify-content: center;
      align-items: center;
    }
    .logo {
      font-size: 0.7rem;
      display: flex;
      align-items: center;
    }
    .main-login {
     
      float: center;
      width: center;
      align-items: center;
      display: block;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
    }
    
    .right-login {
      width: 90%;
      display: block;
      margin-left: 45px;
    margin-right: auto;
    margin-top:-6em;
     max-width: auto; ;
    }
    .left-login{
      margin-left: auto;
      margin-right: auto;
    }

    .left-login::h1 {
      text-align: center;
    }
  
  .textfield{
    width: 136%;
  }
  }
  @media screen and (max-width: 360px) {
    * {
      padding: 0;
      margin: 0;
      font-family: "Lato", Helvetica, Arial;
      
    }
    
    body {
      background-color: #fff;
      margin: 0px;
      overflow-x: hidden;
      font-family: "convergence" , sans-serif;
      display: grid;
      justify-content: center;
      align-items: center;
      
    }
    
    

    .logo {
      font-size: 0.7rem;
      display: flex;
      align-items: center;
    }


    .main-login {
     
      float: center;
      width: center;
      align-items: center;
      display: block;
      flex-direction: column;
      
      
    }
    
    .right-login {
      width: 100%;
      display: block;
    margin-left: 10%;

    margin-top:-10em;
    }
  
    .left-login{
      margin-left: auto;
      margin-right: auto;
      margin-top:-13em;
    }

    .left-login::h1 {
      text-align: center;
      
    }
    .textfield{
      width: 136%;
    }
  
}

}
